<div class="span-24" style="height: 100px">

</div>

<div class="span-24">
	<form action="/chat/pass" method="post">
		<input type="text" name="password" value="" id="code" class="title"><br/>
		<button type="submit" class="button positive" style="margin-left: 0px; margin-right: auto;">
		  <img src="/images/icons/tick.png" alt=""/> Ввести пароль
		</button>
	</form>
</div>